{{!-- copy in hero banner --}}
<h1>Change the way blogging is valued!</h1>
<p>Let your most passionate fans support your creative work via a credit system
  that, in exchange, allows you the freedom to do your best work and the
  stability you need to build an independent creative career.</p>