<div class="d-flex col-12">
  <div class="homepageMenu col-12 "> 
    {{> menu}}
  </div>
</div>
{{!-- holder that contains hero image --}}
<div class="homepageContainer mb-2 d-flex flex-wrap col-12">
  <div class="homepageImageOne">
    {{#if data.devPath}}
    <img src="/assets/images/writer.png">
    {{else}}
      <img src="{{data.prodPath}}/assets/images/writer.png">
    {{/if}}
  </div>
  <div class="homePageCTAHolder d-none d-md-block ">
    <div class="col-12 homePageCTA homePageCTAAbsolute text-wrap">
      {{> header-cta}}
    </div>
  </div>
  {{!-- top right corner OB logo --}}
  <div class="homepageImageTwo">
    {{#if data.devPath}}
      <img src="/assets/images/logo.png">
    {{else}}
      <img src="{{data.prodPath}}/assets/images/logo.png" >
    {{/if}}
  </div>
  <div class="d-block d-md-none col-12 homePageCTA p-5 text-wrap">
    {{> header-cta}}
  </div>
</div>