<ul>
<li><a href="/">HOME</a></li>
<li><a href="/login">LOGIN</a></li>
<li id="logoutButton">LOGOUT</li>
<li id="creditButton">CREDIT</li>

<li>JOIN</li>
  <ul>
    <li><a href="/blogger-join">BLOGGER</a></li>
    <li><a href="/reader-join">READER</a></li>
  </ul>
</ul>
<script src="/assets/js/menu.js"></script>