<ul>
<li><a href="/">HOME</a></li>
{{#unless data.userAuthenticated}}
{{!-- only menu items for not logged in users goes here --}}
<li><a href="/login">LOGIN</a></li><li>JOIN</li>
  <ul>
    <li><a href="/blogger-join">BLOGGER</a></li>
    <li><a href="/reader-join">READER</a></li>
  </ul>
{{/unless}}
{{#if data.userAuthenticated}}
{{!-- only menu items for logged in users goes here --}}
<li><a href="/dashboard">DASHBOARD</a></li>
  {{#if data.userTypeReader}}
  {{!-- only menu items for logged in reader go here --}}
  <li id="creditButton">CREDIT</li> 
  {{/if}}
  {{#if data.userTypeBlogger}}
  {{!-- only menu items for logged in blogger go here --}}
  {{/if}}
  <li id="logoutButton">LOGOUT</li>
{{/if}}


</ul>
<script src="/assets/js/menu.js"></script>