{{!-- add credit button --}}
<button
  type="button"
  id="addCredit"
  class="btn-lg ml-5 btn btnCustomisations btn-block text-center"
>Add Credit</button>

{{! link to javaScript file }}
{{#if devPath}}
  <script src="/assets/js/reader-outOfCredit.js"> </script>
{{else}}
  <script src="{{prodPath}}/assets/js/reader-outOfCredit.js"> </script>
{{/if}}