<div id="bloggerLoginMessage"></div>
<fieldset id="bloggerLoginForm">
  <!-- Email -->
  <label for="bloggerLogin-Email" id = "bloggerLogin-email-label">Email</label>
  <div class="bloggerLoginFormInputWrapper">
    <span id="bloggerLogin-Email-Error" class = "bloggerLoginFormError"></span>
    <input type="email" id="bloggerLogin-Email" />
  </div> 

  <!-- Password -->
  <label for="bloggerlogIn-Password" id ="bloggerlogin-Password-Label">Password</label>
  <div class="bloggerLoginFormInputWrapper">
    <span id="bloggerLogin-Email-Error" class="bloggerLoginFormError"></span>
    <input type="password" id="bloggerLogin-Password" />
  </div>
  
  <button id="bloggerLogin-submit">Log In</button>
</fieldset>