<div class="container">
  <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
  {{> menu}}
<div id="bloggerJoinMessage"></div>
<fieldset id="bloggerJoinForm">
  <!-- First Name -->
  <label for="bloggerJoin-FirstName" id="bloggerJoin-FirstName-Label">First
    Name:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span id="bloggerJoin-FirstName-Error" class="bloggerJoinFormError"></span>
    <input type="text" id="bloggerJoin-FirstName" />
  </div>

  <!-- Last Name -->
  <label for="bloggerJoin-LastName" id="bloggerJoin-LastName-Label">Last Name:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span id="bloggerJoin-LastName-Error" class="bloggerJoinFormError"></span>
    <input type="text" id="bloggerJoin-LastName" />
  </div>

  <!-- Email -->
  <label for="bloggerJoin-Email" id="bloggerJoin-Email-Label">Email:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span id="bloggerJoin-Email-Error" class="bloggerJoinFormError"></span>
    <input type="email" id="bloggerJoin-Email" />
  </div>

  <!-- Password -->
  <label
    for="bloggerJoin-Password"
    id="bloggerJoin-Password-Label"
  >Password:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span id="bloggerJoin-Password-Error" class="bloggerJoinFormError"></span>
    <input type="password" id="bloggerJoin-Password" />
  </div>

  <!-- Confirm Password -->
  <label
    for="bloggerJoin-ConfirmPassword"
    id="bloggerJoin-ConfirmPassword-Label"
  >Confirm Password:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span
      id="bloggerJoin-ConfirmPassword-Error"
      class="bloggerJoinFormError"
    ></span>
    <input type="password" id="bloggerJoin-ConfirmPassword" />
  </div>

  <!-- Description -->
  <label for="bloggerJoin-Description" id="bloggerJoin-Description-Label">Blog
    Description:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span
      id="bloggerJoin-Description-Error"
      class="bloggerJoinFormError"
    ></span>
    <textarea id="bloggerJoin-Description"></textarea>
  </div>

  <!-- URL -->
  <label for="bloggerJoin-URL" id="bloggerJoin-URL-Label">Blog URL:</label>
  <div class="bloggerJoinFormInputWrapper">
    <span id="bloggerJoin-URL-Error" class="bloggerJoinFormError"></span>
    <input type="text" id="bloggerJoin-URL" />
  </div>

  <button id="bloggerJoin-submit">JOIN</button>
</fieldset>

</div>


<script src="/assets/js/blogger-join.js"></script>