{{!-- hero header --}}
<div class="d-flex col-12 justify-content-center flex-wrap m-auto">

  {{> heroHeader }}

{{!-- blogger sign up form --}}
<div class="d-flex flex-wrap justify-content-center">  
  <div class="form-wrap">
    <div id="bloggerJoinMessage"></div>
    <fieldset id="bloggerJoinForm">
      <!-- First Name -->
      <div class="bloggerJoinFormInputWrapper">
        <span id="bloggerJoin-FirstName-Error" class="bloggerJoinFormError"></span>
        <input class="form-control" placeholder="First Name" type="text" id="bloggerJoin-FirstName" />
      </div>

      <!-- Last Name -->
      <div class="bloggerJoinFormInputWrapper">
        <span id="bloggerJoin-LastName-Error" class="bloggerJoinFormError"></span>
        <input class="form-control" placeholder="Last Name" type="text" id="bloggerJoin-LastName" />
      </div>

      <!-- Email -->
      <div class="bloggerJoinFormInputWrapper">
        <span id="bloggerJoin-Email-Error" class="bloggerJoinFormError"></span>
        <input class="form-control"  placeholder="Email" type="email" id="bloggerJoin-Email" />
      </div>

      <!-- Password -->
      <div class="bloggerJoinFormInputWrapper">
        <span id="bloggerJoin-Password-Error" class="bloggerJoinFormError"></span>
        <input class="form-control" placeholder="Password" type="password" id="bloggerJoin-Password" />
      </div>

      <!-- Confirm Password -->
      <div class="bloggerJoinFormInputWrapper">
        <span
          id="bloggerJoin-ConfirmPassword-Error"
          class="bloggerJoinFormError"
        ></span>
        <input class="form-control" placeholder="Confirm Password" type="password" id="bloggerJoin-ConfirmPassword" />
      </div>

      <!-- Description -->
      <div class="bloggerJoinFormInputWrapper">
        <span
          id="bloggerJoin-Description-Error"
          class="bloggerJoinFormError"
        ></span>
        <textarea class="form-control" placeholder="Blog Description" id="bloggerJoin-Description"></textarea>
      </div>

      <!-- URL -->
      <div class="bloggerJoinFormInputWrapper">
        <span id="bloggerJoin-URL-Error" class="bloggerJoinFormError"></span>
        <input  class="form-control" placeholder="Blog URL" type="text" id="bloggerJoin-URL" />
      </div>

        <!-- Checkboxes -->   
      <div class="readerJoinFormInputWrapper">
        <table>
          <tr>
            <td><input type="checkbox" id="readerJoin-Terms" class="form-check-input" /></td>
            <td><label class="form-check-label" for="flexCheckDefault1" id="readerJoin-Terms-Label">I agree to the <a href="/terms" target ="_blank" class="termsPrivacyA">Terms & Conditions</a></label></td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td><input type="checkbox" id="readerJoin-Privacy" class="form-check-input" /></td>
            <td><label class="form-check-label" for="flexCheckDefault2">I agree to receive the latest blog reviews, exclusive offers, updates and more from us.&nbsp;<a href="/privacy" target ="_blank" class="termsPrivacyA">Privacy Policy</a></label></td>
          </tr>
        </table>
      </div>

      <button class="btn btnCustomisations" id="bloggerJoin-submit">JOIN</button> 
    </fieldset>
  </div>
</div>

{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/blogger-join.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/blogger-join.js"></script>
{{/if}}