<div class="container">
  <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
  {{> menu}}

  <p>Hello {{data.userFirstName}}</p>
  {{#if data.userTypeBlogger}}
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddFormError" id="bloggerAddFUrl-Error-Span"></span>
    <input type="text"  class="addUrlInput" id="bloggerAddUrl-input" placeholder="URL:">
  </div>
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddUrlCredit-Error" id="bloggerAddUrlCredit-Error-Span"></span>
    <input type="text" class="addUrlInput" id="bloggerAddUrlCredit-input" placeholder="CREDIT:">
  </div>
  <button id="bloggerAddUrlButton">SUBMIT</button>
  <br><br>Your Articles:<br>
  <table id="urlList">
  {{#each data.articleData as |article|}}
    <tr><td>{{article.url}}</td></tr>
  {{/each}}
  </table>
  <br><br>Link this file in you html header
<textarea>&lt;script src="https://c15-project-2-group-5.herokuapp.com/plugins/plugin.js"&gt;&lt;/script&gt;</textarea>

  {{/if}}

  {{#if data.userTypeReader}}
  {{/if}}


</div>

{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/dashboard.js"></script>
{{else}}
<script src="https://c15-project-2-group-5.herokuapp.com/assets/js/dashboard.js"></script>
{{/if}}
