<div class="container">
  <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
  {{> menu}}

  <p>Hello {{data.userFirstName}}</p>
  {{#if data.userTypeBlogger}}
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddFormError" id="bloggerAddFormError-Span"></span>
    ADD URL: <input type="text" id="bloggerAddUrlInput"><button id="bloggerAddUrlButton">SUBMIT</button>
  </div>
  
  {{/if}}

  {{#if data.userTypeReader}}
  {{/if}}

  {{#each data.articleData as |article|}}
    <p>{{article.url}}</p>
  {{/each}}
</div>
<script src="/assets/js/dashboard.js"></script>