<div class="container">
  <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
  {{> menu}}
</div>
{{#if userTypeBlogger}}
  
{{/if}}

{{#if userTypeReader}}

{{/if}}

{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/homepage.js"></script>
{{else}}
<script src="https://c15-project-2-group-5.herokuapp.com/assets/js/homepage.js"></script>
{{/if}}
