{{!-- reader adds credit --}}
{{!-- how many credits would you like to purchase i.e buy 100 receive bonus 10! --}}
<div class="container">
  <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
  {{> menu}}
</div>


<script src="/assets/js/homepage.js"></script>