<div class="d-flex col-12 justify-content-center flex-wrap">
  {{> heroHeader }}
  <table>
    <tr><td>Todays New Articles</td></tr>
      {{#each data.articleData as |article|}}
        <tr><td>{{article.url}}</td></tr>
      {{/each}}
  </table>
{{#if data.userTypeBlogger}}
  
{{/if}}

{{#if data.userTypeReader}}

{{/if}}

{{!-- link to javaScript file --}}
{{#if data.devPath}}
<script src="/assets/js/homepage.js"></script>
{{else}}
<script src="{{data.prodPath}}/assets/js/homepage.js"></script>
{{/if}}
