<div class="d-flex col-12 justify-content-center flex-wrap m-auto">
  
  {{> heroHeader }}
    
<div id="loginMessage"></div>
<fieldset class="form-wrap" id="loginForm">
  <!-- Email Form -->
  <div class="loginFormInputWrapper">
    <span id="login-Error" class = "loginFormError"></span>
    <input class="form-control" placeholder="Email" type="email" id="loginEmail" />
  </div> 

  <!-- Password Form -->  
  <div class="loginFormInputWrapper">
    <input class="form-control" placeholder="Password" type="password" id="loginPassword" />
  </div> 

    <button class= "btn btnCustomisations" id="login-login">Log In</button>

</fieldset>




{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/login.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/login.js"></script>
{{/if}}
