{{!-- thank you for registering you can now read this article --}}


<div class="card text-bg-primary m-4" style="max-width: 100%;">
  <img src="/assets/images/Blogger.png" class="card-img-top" alt="Blogger writting on laptop">
  <div class="fire">
    <div class="before"></div>
    <img src="/assets/images/Thank-you-script.png" class="img-fluid" alt="Thank You!">
      <div class="card-body">
        <p class="card-text">Thank you for signing up to OnlyBlogs!</p>
        <p class="card-text">Read this article for {{credits}} credits.</p>
      </div>
    </div>
  </div>
</div>
