{{!-- reader adds credit --}}
{{!-- how many credits would you like to purchase i.e buy 100 receive bonus 10! --}}
<div class="container">
 <img src="/assets/images/Credits-Page.png" class="img-fluid" alt="Typing on laptop">
<div class="card-group">
  <div class="card m-3 shadow-sm p-3 mb-5 bg-body rounded">
       <h5 class="p-2 gold-credit-header">GOLD OFFER</h5>
       <div class="p-1 credit-body">
         <h5 class="p-2 credit-title">500 CREDITS FOR $50</h5>
         <p class="credit-text text-nowrap"><ul><li>500 credits</li><li>bonus 50 credits</li><li>blogger interactions</li><li>new blog notifications</li><li>blog recommendations</li></ul></p>
         </br><a href="#" class="m-2 btn btn-primary">Select Offer</a>
       </div>
     </div>
  <div class="card m-3 shadow-sm p-3 mb-5 bg-body rounded">
       <h5 class="p-2 silver-credit-header">SILVER OFFER</h5>
       <div class="p-1 credit-body">
         <h5 class="p-1 credit-title">250 CREDITS FOR $25</h5>
         <p class="credit-text text-nowrap"><ul><li>250 credits</li><li>bonus 25 credits</li><li>blog recommendations</li></ul></p>
         <a href="#" class="m-2 btn btn-primary">Select Offer</a>
       </div>
     </div>
  <div class="card m-3 shadow-sm p-3 mb-5 bg-body rounded">
       <h5 class="p-2 bronze-credit-header">BRONZE OFFER</h5>
       <div class="p-1 credit-body">
         <h5 class="p-1 credit-title">150 CREDITS FOR $15</h5>
         <p class="credit-text text-nowrap"><ul><li>150 credits</li><li>bonus 10 credits</li></li></ul></p>
         <a href="#" class="m-2 btn btn-primary">Select Offer</a>
       </div>
     </div>
</div>
</br>
{{!-- paypal button to pay with paypal --}}
    <div id="paypal-button-container"></div>
    {{!-- Buy Credits CTA (user will be taken to the article) --}}
     <div class="text-center">
<button type="button" class="m-2 btn btn-primary">Checkout</button>
</div>
</div>
</br>

    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

    <script>
        paypal.Buttons({

            style: {
                color:  'gold',
                layout: 'vertical',
                shape:  'rect',
                label:  'pay',
                height: 55
            }

        }).render('#paypal-button-container');
    </script>