{{!-- thank you for registering you can now read this article --}}
<div class="card text-black bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Thank you!</h5>
    <p class="card-text">Thank you for signing up to OnlyBlogs.</p>
  </div>



  