.card-header {
  background-color: #9acde0 !important;
  color: white !important;
  font-size: 250%;
  line-height: 100%;
}

.btn {
  background-color: #9acde0 !important;
  border-color: #9acde0;
  font-size: 25px;
  height: 55px;
  width: 140px;
}
