.card-header {
  background-color: #ffb81d !important;
  color: white !important;
  font-size: 250%;
  line-height: 100%;
}

.btn {
  background-color: #ffb81d !important;
  border-color: #ffb81d;
  font-size: 25px;
  height: 55px;
  width: 140px;
}
#blogChargeIFrame {
  overflow: hidden;
}
