.card{
  box-shadow: 10px 10px 25px 1px;
}
.gold-credit-header {
  background-color: gold !important;
  color: black !important;
  font-weight: bolder;
}
.silver-credit-header {
  background-color: silver !important;
  color: black !important;
  font-weight: bolder;
}
.bronze-credit-header {
  background-color: #CD7F32 !important;
  color: black !important;
  font-weight: bolder;
}
.credit-title{
  font-size: 200%;
  font-weight: bolder;
}
.credit-body {
  border: rgb(81, 81, 81);
  color: black;
}
.credit-text{
  background-color: white !important;
  color: black !important;
}
.btn {
  background-color: #ffb81d !important;
  border-color: #ffb81d;
  border-radius: 15px;
  font-weight: bolder;
}
#paypal-button-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#wrapper {
  overflow: hidden;
}
.col-form-label{
  font-weight: bolder;

}
        /* Media query for mobile viewport */
        @media screen and (max-width: 400px) {
          #paypal-button-container {
              width: 100%;
          }
      }
      
      /* Media query for desktop viewport */
      @media screen and (min-width: 400px) {
          #paypal-button-container {
              width: 293px;
          }
      }