
.card-header {
  background-color: #ffb81d !important;
  color: white !important;
  font-size: 250%;
  font-weight: bolder;
  line-height: 100%;
}
.card-title{
  font-weight: bolder;
}
.card-body {
  background-color: rgb(81, 81, 81);
  color: white
}
.gold-credit-header {
  background-color: gold !important;
  color: white !important;
  font-weight: bolder;
}
.silver-credit-header {
  background-color: silver !important;
  color: white !important;
  font-weight: bolder;
}
.bronze-credit-header {
  background-color: #CD7F32 !important;
  color: white !important;
  font-weight: bolder;
}
.credit-title{
font-size: larger;
  font-weight: bolder;
}
.credit-body {
  background-color: rgb(81, 81, 81);
  color: white
}
.btn {
  background-color: #ffb81d !important;
  border-color: #ffb81d;
  border-radius: 15px;
  font-weight: bolder;
}

#wrapper {
  overflow: hidden;
}
.col-form-label{
  font-weight: bolder;

}
        /* Media query for mobile viewport */
        @media screen and (max-width: 400px) {
          #paypal-button-container {
              width: 100%;
          }
      }
      
      /* Media query for desktop viewport */
      @media screen and (min-width: 400px) {
          #paypal-button-container {
              width: 293px;
          }
      }